@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
ul {
  padding: 0;
}
.header-text-bar {
  display: flex;
  padding: 20px 40px;
  margin: 0;
  background-color: black;
  justify-content: center;
}
.header-text-content > a {
  font-size: 16px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.container {
  width: 100%;
}
.section-1 {
  width: 100%;
  height: 725px;
  background-image: url(/image/Background\ Image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-bar-section-1 {
  display: flex;
  flex-direction: row;
  height: 80px;

  padding: 0 80px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-size: 22px;
  color: white;
  font-weight: 600;
}
.logo > a {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.header-bar-middle-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-bar-middle-text > .Home,
.locations,
.about-us {
  display: flex;
  align-items: center;
}
.header-bar-middle-text > .Home > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.header-bar-middle-text > .Home > a:hover {
  border-bottom: 1px solid white;
}
.header-bar-middle-text > .locations > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.header-bar-middle-text > .locations > a:hover {
  border-bottom: 1px solid white;
}
.header-bar-middle-text > .about-us > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.header-bar-middle-text > .about-us > a:hover {
  border-bottom: 1px solid white;
}
.header-bar-end-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header-bar-end-text-container {
  display: flex;
  justify-content: center;

  padding: 10px;
}
.header-bar-end-text-container > div:first-child {
  height: 42px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.header-bar-end-text-container > div:first-child > a {
  color: white;
  text-decoration: none;
}
.header-bar-end-text-container > div:nth-child(2) {
  height: 42px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.header-bar-end-text-container > div:nth-child(2) > a {
  color: white;
  text-decoration: none;
}
.header-bar-end-text-container > div:nth-child(3) {
  height: 44px;
  width: 77px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.header-bar-end-text-container > div:nth-child(3) > button {
  background-color: white;
  position: relative;
  height: 42px;
  width: 77px;
  border: none;
  border-radius: 50px;
  border: none;
}
.subheader-bar-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sub-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 850px;
  height: 66px;
  border-radius: 50px;
  background-color: white;
  padding: 0 10px;
}
.sub-header-container > div * {
  border: none;
}
.subheader-location {
  flex: 2;
  margin-left: 24px;
  margin-right: 48px;
}
.subheader-checkin,
.subheader-checkout,
.subheader-guest {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #dadada;
}
/**Section-1**/
.section-1-content {
  display: flex;
  height: 625px;
  align-items: center;

  padding: 0 80px;
}
#text-content > div:first-child {
  width: 400px;
  font-size: 58px;
  color: white;
  font-weight: 600;
}

.btn-search {
  display: flex;

  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fa215b;
}
.btn-search > button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.explore-btn > button {
  cursor: pointer;
  font-weight: bold;
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-top: 12px;
}

.section-2,
.section-3,
.section-5 {
  padding: 0 80px;
  margin: 50px 0;
}
.section-4 {
  padding: 50px 80px;
}
.section-2-container {
  display: flex;
  flex-wrap: wrap;
}
.section-2-container > a {
  text-decoration: none;
  color: black;
  width: 25%;
  margin-top: 10px;
}
.section-2-items {
  display: flex;
  align-items: center;
}
.section-2-items > span {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.section-2-items > img {
  width: 70px;
  border-radius: 10px;
}
.section-2-items > span {
  display: flex;
}

/**section3**/

.section-3 > div:first-child {
  font-size: 32px;
  font-weight: bold;
}
.section-3-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.section-3-item {
  width: 25%;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
}
.section-3-item > img {
  border-radius: 10px;
}
.section-3-item > b {
  font-size: 18px;
}

/**section-4**/

.section-4 {
  background-color: black;
}

.section-4-header-text,
.section-5-header-text {
  color: white;
}
.section-4-header-text > b,
.section-5-header-text > b {
  font-size: 32px;
}
.section-4-items,
.section-5-items {
  display: flex;
  margin: 10px 0;
}
.section-4-items > a {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
.section-4-items > a,
.section-5-items > a {
  font-size: 18px;
  padding-right: 15px;
  cursor: pointer;
}
.section-4-items > a > img,
.section-5-items > a > img {
  border-radius: 15px;
  margin-bottom: 5px;
}
.section-4-items > a > div,
.section-5-items > a > div {
  font-size: 14px;
}

/**section-5**/

.section-5 {
  background-color: white;
}
.section-5-items > a {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.section-5-header-text > b {
  color: black;
}
.section-5-items > a > b {
  font-size: 16px;
}
.footer {
  border-top: 1px solid #dddddd;
  background-color: #f7f7f7;
  padding: 0 80px;
}
.footer-container {
  display: flex;
}
.footer-container > ul {
  width: 25%;
  margin: 16px 0;
  padding-right: 13px;
  box-sizing: border-box;
}
.footer-container > ul > * {
  margin-top: 10px;
}
.footer-container > ul > b {
  font-size: 12px;
}
.footer-container > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.footer-container > ul > li > a:hover {
  text-decoration: underline;
}

/**footer**/

.footer-end {
  display: flex;
  margin-bottom: 20px;
}
.footer-end-content-1 {
  width: 50%;
}
.footer-end-content-1 > div {
  font-size: 14px;
}
.footer-end-content-1 > div > a {
  text-decoration: none;
  color: black;
}
.footer-end-content-1 > div > a:hover {
  text-decoration: underline;
}
.footer-end-content-2 {
  width: 25%;
}
.footer-end-content-2 > div {
  text-align-last: right;
}
.footer-end-content-2 > div > a {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.footer-end-content-2 > div > a:nth-child(2) {
  text-decoration: none;
}
.footer-end-content-3 {
  width: 25%;
}
.footer-end-content-3 {
  text-align-last: right;
}
.footer-end-content-3 > span > a {
  color: black;
}
.footer-end-content-3 > span > a > img {
  width: 16px;
  height: 16px;
}
hr {
  height: 2px;
  border-width: 0;
  background-color: #cecece;
}
li {
  list-style: none;
}
